@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-regular-webfont.eot"); /* IE9 */
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lato-regular-webfont.woff") format("woff"), /* chrome, firefox */
  url("../fonts/lato-regular-webfont.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/lato-regular-webfont.svg#Lato") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-bold-webfont.eot"); /* IE9 */
  src: url("../fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lato-bold-webfont.woff") format("woff"), /* chrome, firefox */
  url("../fonts/lato-bold-webfont.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/lato-bold-webfont.svg#Lato") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: 700;
}
