body {
  font: $_14px/1.2 $family;

}

.caret {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 1px;

  &:before, &:after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 2px;
    transform: rotate(-45deg);
    background: #000;
    @include anim($dur: 0.3s);
  }
  &:after {
    right: 0;
    left: auto;
    transform: rotate(45deg);
  }
}

.blob {
  display: block;
  position: absolute;
  background: $bghover;
  bottom: 0;
  left: 0;
  height: 50%;
  max-width: 220px;
  width: 100%;
  z-index: 10;
  transform: translateY(100%);
  @include anim($param: transform, $dur:0.3s);
   .link-container {
    display: table;
    height: 100%;
    width: 100%;
    .link-container__wrapper {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      .eye {
        padding: 0 30px 0 0;
      }
    }
  }
}