#advantages {
  background: $bgGrey;
  border-bottom: 2px solid #dfe1e5;
  .advantages-container {
    max-width: $maxWidth;
    margin: 0 auto;
    color: $colorgrtxt;
    padding: 57px 20px 47px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    .advantages__item {
      position: relative;
      flex-basis: 215px;

      &__logo {
        display: flex;
        align-items: flex-start;
        white-space: nowrap;
        padding: 0 0 20px;
        .icon-wrapper {
          height: 40px;
          width: 40px;
          position: relative;
          background-color: $bghover;
          border-radius: 20px;
          i {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
        & span {
          display: block;
          align-self: center;
          padding-left: 20px;
          text-transform: uppercase;
          font-size: 1.3em;
          font-weight: bold;
        }
      }
      &__text {
        display: block;
        line-height: 1.75em;
        padding: 0 0 41px 0;
      }
      &__footer {
        padding: 0 0 0 15px;
        font-size: 1.1em;
        position: relative;
        & a {
          color: $bghover;
          text-decoration: none;
          &:hover {
            .caret {
              &:after {
                transform: rotate(-45deg);
              }
              &:before {
                transform: rotate(45deg);
              }
            }
          }
        }
        .caret{
          left: 0;
          right: auto;
          height: 3px;
          &:before, &:after {
            left: 0;
            bottom: 0;
            height: 5px;
            width: 2px;
            transform: rotate(-45deg);
            background: #000;
            @include anim($dur:0.3s);
          }
          &:after {
            right: auto;
            left: 0;
            top: 0;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}