#works-slider {
  .works-slider__box {
    max-width: $maxWidth;
    padding: 20px 20px 0;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;

    .swiper-button-next, .swiper-button-prev {
      width: 22px;
      height: 22px;
      background: #81e4ed;
      border-radius: 11px;
      top: 18px;
      margin: 0;
      right: 20px;
      .caret-next, .caret-prev {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 4px;
        &:before, &:after {
          content: ' ';
          position: absolute;
          left: 0;
          bottom: 0;
          height: 7px;
          width: 2px;
          transform: rotate(-45deg);
          background: #000;
          @include anim($dur: 0.3s);
        }
        &:after {
          top: 0;
          bottom: auto;
          transform: rotate(45deg);
        }
      }
    }
    .swiper-button-prev {
      left: auto;
      right: 50px;
      .caret-prev {
        left: 47%;
        &:before, &:after {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.works-hr {
  height: 2px;
  background: #dfe1e5;
  border: none;
  margin: 10px 0;
}
.works-text {
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;

  span {
    padding: 0 0 0 24px;
    font-size: 1.3em;
  }
}
.works-wrapper {
  width: 100%;
  margin: 20px 0 37px;
  .works-slide {
    position: relative;
    overflow: hidden;
    &:hover {
      & .blob {
        transform: translateY(0);
      }
    }
  }
}