#slider {
  max-height: 500px;
  background: #81e4ed;
  .swiper-container {
    max-width: 1000px;
    height: 440px;
    margin: 0 auto;
    padding: 20px 0 40px;
    .swiper-slide {
      height: 100%;
      width: 100%;
      background: #df5936;
      box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.12);
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        margin: 0 0 0 60px;
        color: #fff;
        font-size: 4.2em;
        font-family: 'Lato';
        font-weight: bold;
        flex-basis: 290px;
        line-height: 1.2;
      }
      & div img {
        width: 100%;
        height: auto;
      }
    }
    .swiper-pagination-bullet {
      width: 13px;
      height: 13px;
    }
   .swiper-pagination-bullet-active {
     background: #fff;
   }
  }
}
